.Charts {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 30px;
  max-width: 1220px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}

.ChartsContent {
  position: relative;
  z-index: 2;
}

.Charts h1 {
  font-size: 55px;
  line-height: 1;
  margin-bottom: 50px;
  margin-top: 50px;
}

.Charts h1 strong {
  background: #b82974;
  background: linear-gradient(to right, #b82974 27%, #45fdf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Charts p {
  font-size: 20px;
  width: 600px;
  margin: 0 auto;
}

.PieChartContainer,
.WaffleChartContainer,
.SpiderChartContainer {
  height: 500px;
  margin: 50px 0 0 0;
}

.WaffleChartContainer {
  margin: 150px 0 0 0;
}

.SpiderChartContainer {
  margin: 150px 0 0 0;
}

.WaffleChart,
.SpiderChart {
  height: 100%;
}

text {
  font-size: 20px;
}

/* @media only screen and (max-width: 900px) {
  .Charts {
    padding: 0px 30px 0 30px;
  }

  .Charts h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .Charts p {
    margin-bottom: 0;
  }

  .ChartContainer {
    height: 400px;
    margin: 20px 0 0 0;
  }
} */

/* @media only screen and (max-width: 600px) {
  .ChartContainer {
    height: 250px;
  }
} */
