.Form {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 30px 30px 80px;
  max-width: 1220px;
  min-height: 990px;
  margin: 0 auto;
  background-color: white;
  color: #1a1a1a;
}

.SimpleForm .Select1,
.SimpleForm .Select2 {
  width: 500px;
  margin: 0 auto;
}

.AdvancedForm .Select1,
.AdvancedForm .Select2 {
  width: 250px;
}

.Select1 {
  z-index: 10;
}
.Select2 {
  z-index: 5;
}

.WelcomeForm {
  margin-top: 80px;
  padding: 20px;
}

.SimpleForm {
  text-align: center;
}

.AdvancedForm {
  padding: 10px 70px;
}

.SimpleForm,
.AdvancedForm {
  margin-top: 60px;
  z-index: 2;
  position: relative;
}

.SimpleForm .ArrowDown,
.AdvancedForm .ArrowDown {
  position: absolute;
  left: 48%;
  bottom: -100px;
}

.AdvancedForm .ArrowDown {
  bottom: -60px;
}

.FormSwitch {
  z-index: 2;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
}

.FormSwitch span {
  margin: 0 15px;
  font-size: 17px;
}

.AdvancedForm .RolesContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.AdvancedForm .RolesContainer .Inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.AdvancedForm .RolesContainer .Inputs .ValueContainer {
  margin-right: 30px;
}

.AdvancedForm .DisplayRoles,
.AdvancedForm .DisplayQueries {
  margin-top: 20px;
  list-style-position: inside;
}

.DisplayQueries {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.DisplayQueries .CardHeadContainer {
  display: flex;
  align-items: center;
}

.DisplayQueries .QueryCard {
  position: relative;
  border: 1px solid black;
  width: 250px;
  border-radius: 10px;
  padding: 20px 20px 30px;
  list-style-position: inside;
  margin: 0 20px 20px 0;
}

.DeleteIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5px;
  /* position: absolute;
  right: 10px;
  top: 10px; */
}
