.Home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.Home .FormContainer h1 {
  font-size: 50px;
  color: white;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Indie Flower", cursive;
}

.Home h1 strong {
  background: #b82974;
  background: linear-gradient(to right, #b82974 27%, #45fdf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home .HeroContainer,
.Home .FormContainer {
  width: 48%;
}

.Home .FormContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RangePickerContainer {
  height: 370px;
}

.Select {
  width: 500px;
}

@media only screen and (max-width: 1600px) {
  .Home {
    display: block;
  }

  .Home .HeroContainer,
  .Home .FormContainer {
    width: 100%;
  }

  .Home .FormContainer {
    padding: 0 70px 70px 70px;
  }
}
