.Timeline {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 70px 30px 100px 30px;
  max-width: 1220px;
  background-color: #020202;
  margin: 0 auto;
}

.Timeline:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: absolute;
  left: -50%;
  top: -50%;
  opacity: 0.1;
  animation: animateGrain 5s steps(10) infinite;
}

.TimelineContent {
  position: relative;
  z-index: 2;
}

.SmallLayout {
  text-align: center;
}

.LargeLayout {
  display: none;
}

.Timeline h1 {
  font-size: 70px;
  color: white;
  line-height: 1;
  margin-bottom: 60px;
  text-align: center;
  font-family: "VT323", monospace;
}

.Timeline h1 strong {
  background: #b82974;
  background: linear-gradient(to right, #b82974 27%, #45fdf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Timeline .ButtonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Timeline p {
  font-size: 20px;
  color: white;
  max-width: 600px;
  font-family: "Indie Flower", cursive;
}

.TimelineDate {
  color: white;
}

.Timeline span {
  font-size: 20px;
  font-weight: bold;
}

.ChipsContainer {
  margin-top: 10px;
}

/* @media only screen and (max-width: 900px) {
  .Timeline {
    padding: 30px;
  }

  .Timeline h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
  }

  .ButtonsContainer {
    margin-bottom: 80px;
  }

  .SmallLayout {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .LargeLayout {
    display: none;
  }
} */
