.Timeline {
  padding: 100px;
  background-color: #1a1a1a;
}

.Timeline h1 {
  font-size: 70px;
  color: white;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Indie Flower", cursive;
  text-align: center;
}

.Timeline h1 strong {
  background: #b82974;
  background: linear-gradient(to right, #b82974 27%, #45fdf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ButtonsContainer {
  display: flex;
  justify-content: center;
}

.Timeline p {
  font-size: 20px;
  color: white;
  max-width: 600px;
  font-family: "Indie Flower", cursive;
}

.TimelineDate {
  color: white;
}

.Timeline span {
  font-size: 20px;
  font-weight: bold;
}

.ChipsContainer {
  margin-top: 10px;
}
