.Timeline {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px 30px 100px 30px;
  max-width: 1220px;
  background-color: white;
  margin: 0 auto;
  color: black;
}

.TimelineContent {
  position: relative;
  z-index: 2;
}

.SmallLayout {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.LargeLayout {
  display: none;
}

.Timeline h1 {
  font-size: 55px;
  line-height: 1;
  margin-bottom: 60px;
  text-align: center;
}

.Timeline h1 strong {
  background: #b82974;
  background: linear-gradient(to right, #b82974 27%, #45fdf2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Timeline .ButtonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Timeline p {
  font-size: 20px;
  color: white;
  max-width: 600px;
  font-family: "Indie Flower", cursive;
}

.Timeline span {
  font-size: 20px;
  font-weight: bold;
}

.ChipsContainer {
  margin-top: 10px;
}

.vertical-timeline-element-content {
  border: 1px solid lightgray;
}

.vertical-timeline-element-content-arrow {
  display: none;
}

.Timeline .NoData {
  margin: 50px 40px 0;
  text-align: center;
}

/* @media only screen and (max-width: 900px) {
  .Timeline {
    padding: 30px;
  }

  .Timeline h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
  }

  .ButtonsContainer {
    margin-bottom: 80px;
  }

  .SmallLayout {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .LargeLayout {
    display: none;
  }
} */
