.WelcomeForm {
  color: white;
  z-index: 2;
  position: relative;
  padding: 0 150px;
}

.WelcomeForm .ButtonsContainer {
  width: 700px;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
}

.CustomButton {
  border: 5px dashed white;
  padding: 15px;
  cursor: pointer;
  font-size: 35px;
  width: 180px;
}

.CustomButton:hover {
  background-color: white;
  color: black;
}
